@model Core.Domain.Dtos.Shop.ProductDto

@section Styles {
	<style>
		#product-thumbnail.image-input-placeholder {
			background-image: url('/media/svg/files/blank-image.svg');
		}

		[data-bs-theme="dark"] #product-thumbnail.image-input-placeholder {
			background-image: url('/media/svg/files/blank-image-dark.svg');
		}
	</style>
}

<form class="form d-flex flex-column flex-lg-row new-product sluggable" asp-action="edit" asp-controller="products" asp-area="admin" method="post">
	<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10 me-lg-10 mb-7 mb-lg-0 mb-7 mb-lg-0 mw-lg-900px">
		<div class="tab-content">
			<div class="tab-pane fade show active" id="new_product_general" role="tab-panel">
				<div class="d-flex flex-column gap-7 gap-lg-10">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="card card-flush py-4">
						<div class="card-body pt-0">
							<div class="mb-2 fv-row">
								<label asp-for="product.Title" class="required form-label"></label>
								<input type="text" asp-for="product.Title" class="form-control mb-2 sluggable" placeholder="عنوان نوشته" data-type="tax" data-generator="on" />
								<span asp-validation-for="product.Title" class="text-danger"></span>
								<div class="fv-row slug-container d-none">
									<div class="d-flex slug-preview">
										<span class="me-2">نامک: </span>
										<a href="#" class="fs-6 me-2 text-primary slug-anchor"></a>
										<span class="cursor-pointer text-dark change-slug">ویرایش</span>
									</div>
									<div class="d-none custom-slug-form">
										<div class="d-flex align-items-center">
											<span>
												<i class="ki-outline ki-fasten fs-2x text-primary me-4"></i>
											</span>
											<input asp-for="product.Slug" placeholder="نامک را وارد کنید" class="form-control slug-input mw-250px me-3" />
											<button class="btn btn-icon btn-light-primary me-3 custom-slug-submit">
												<span class="indicator-label">
													<i class="ki-outline ki-check fs-1"></i>
												</span>
												<span class="indicator-progress">
													<span class="spinner-border spinner-border-sm align-middle"></span>
												</span>
											</button>
											<button class="btn btn-icon btn-light-danger custom-slug-cancel">
												<span class="indicator-label">
													<i class="ki-outline ki-cross fs-1"></i>
												</span>
												<span class="indicator-progress">
													<span class="spinner-border spinner-border-sm align-middle"></span>
												</span>
											</button>
										</div>
									</div>
								</div> <!-- End Slug -->
							</div> <!-- End Title -->

							<div class="mb-2">
								<div class="py-5" data-bs-theme="light">
									<textarea asp-for="product.Content" class="product-classic-editor"></textarea>
								</div>
								<span asp-validation-for="product.Content" class="text-danger"></span>
							</div> <!-- End Content -->

							<div class="mb-2">
								<div class="py-5" data-bs-theme="light">
									<textarea asp-for="product.Description" class="product-desc-classic-editor"></textarea>
								</div>
								<span asp-validation-for="product.Description" class="text-danger"></span>
							</div> <!-- End Description -->
						</div>
					</div>

					<div class="card card-flush py-4">
						<div class="card-header">
							<div class="card-title">
								<h2>اطلاعات محصول</h2>
							</div>
						</div>
						<div class="card-body pt-0">
							<div class="card-body p-9">

								<div class="row mb-5">
									<div class="col-xl-3">
										<div class="fs-6 fw-semibold mt-2 mb-3">
											<label asp-for="ProductType"></label>
										</div>
									</div>
									<div class="col-lg-8">
										<select asp-for="ProductType" class="form-select mb-2" data-control="select2" data-hide-search="true">
											<option value="physical" selected="selected">فیزیکی</option>
											<option value="virtual">مجازی</option>
											<option value="downloadable">دانلودی</option>
										</select>
									</div>
								</div> <!-- Product Type -->

								<div class="row mb-8">
									<div class="col-xl-3">
										<div class="fs-6 fw-semibold mt-2 mb-3">
											<label asp-for="SKU"></label>
										</div>
									</div>
									<div class="col-xl-9 fv-row">
										<input asp-for="SKU" class="form-control" />
									</div>
								</div> <!-- SKU -->

								<div class="row mb-8">
									<div class="col-xl-3">
										<div class="fs-6 fw-semibold mt-2 mb-3">
											<label asp-for="RegularPrice"></label>
										</div>
									</div>
									<div class="col-xl-9 fv-row">
										<div class="d-flex flex-column mb-2">
											<label asp-for="RegularPrice"></label>
											<input asp-for="RegularPrice" class="form-control" />
										</div>
										<div class="d-flex flex-column mb-2">
											<label asp-for="SalePrice"></label>
											<input asp-for="SalePrice" class="form-control" />
										</div>
										<div class="d-flex flex-column mb-2 d-none">
											<label asp-for="DiscountExpiration" class="discount-expiration-label"></label>
											<span class="discount-expiration-value"></span>
											<input asp-for="DiscountExpiration" class="form-control" />
										</div>
									</div>
								</div> <!-- Price -->

								<div class="row mb-8">
									<div class="col-xl-3">
										<div class="fs-6 fw-semibold mt-2 mb-3">
											<label asp-for="Quantity"></label>
										</div>
									</div>
									<div class="col-xl-9 fv-row">
										<input asp-for="Quantity" class="form-control" />
									</div>
								</div> <!-- Quantity -->

								<div class="row mb-8">
									<div class="col-xl-3">
										<div class="fs-6 fw-semibold mt-2 mb-3">
											<label asp-for="SoldIndividually"></label>
										</div>
									</div>
									<div class="col-xl-9 fv-row form-check form-check-custom form-check-solid">
										<input asp-for="SoldIndividually" class="form-check-input" />
									</div>
								</div> <!-- Sell Individually -->

								<div class="row mb-8">
									<div class="col-xl-3">
										<div class="fs-6 fw-semibold mt-2 mb-3">ویژگی محصول</div>
									</div>
									<div class="col-xl-9 fv-row">
										<div class="position-relative d-flex align-items-center">
										</div>
									</div>
								</div> <!-- Product Properties -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px">
		<div class="card card-flush py-4 translation-card">
			<div class="card-header">
				<div class="card-title">
					<h2>ترجمه</h2>
				</div>
			</div>
			<div class="card-body py-0">
				<div class="mb-2">
					<select name="OriginalProduct" id="OriginalProduct" class="form-select mb-2" asp-items="ViewBag.OriginalIds" data-control="select2" data-hide-search="true" data-placeholder="محصول اصلی را تعیین کنید" data-allow-clear="true"></select>
				</div>
				<div class="mb-2">
					<select name="LanguagesList" id="LanguagesList" class="form-select mb-2" data-default="@ViewBag.DefaultLanguage" data-control="select2" data-hide-search="true" data-placeholder="زبان محصول را تعیین کنید" data-allow-clear="true">
						@{
							var langs = (List<Tuple<string, string, string, string, string, string>>)ViewBag.Languages;
							var def = ViewBag.DefaultLanguage;
						}
						@foreach (var lang in langs)
						{
							if (def == lang.Item3)
							{
								<option value="@lang.Item3" data-kt-select2-country="@lang.Item6" selected="selected">@Html.Raw($"{lang.Item2}({lang.Item1})")</option>
							}
							else
							{
								<option value="@lang.Item3" data-kt-select2-country="@lang.Item6">@Html.Raw($"{lang.Item2}({lang.Item1})")</option>
							}
						}
					</select>
				</div>
			</div>
			<div class="card-footer"></div>
		</div>

		<div class="card card-flush py-4">
			<div class="card-header">
				<div class="card-title">
					<h2>وضعیت انتشار</h2>
				</div>
				<div class="card-toolbar">
					<div class="rounded-circle bg-success w-15px h-15px" id="new-product-status-bullet"></div>
				</div>
			</div>
			<div class="card-body py-0">
				<div class="mb-2">
					<select asp-for="Status" class="form-select mb-2" data-control="select2" data-hide-search="true">
						<option value="published" selected="selected">منتشرشده</option>
						<option value="draft">پیش‌نویس</option>
						<option value="scheduled">زمان‌بندی</option>
						<option value="private">خصوصی</option>
					</select>

					<span asp-validation-for="Status" class="text-danger"></span>
					<div class="text-muted fs-7">وضعیت انتشار نوشته خود را مشخص کنید.</div>
					<div class="d-none my-10">
						<label for="new-product-datepicker" class="form-label">تاریخ انتشار را انتخاب کنید</label>
						<input class="form-control" id="new-product-datepicker" placeholder="یک تاریخ انتخاب کنید" />
					</div>
				</div>
				<div>
					<label asp-for="CommentStatus"></label>
					<select asp-for="CommentStatus" class="form-select mb-2" id="new-product-comment-status" data-control="select2" data-hide-search="true" data-placeholder="Select an option">
						<option></option>
						<option value="open" selected="selected">آزاد</option>
						<option value="close">بسته</option>
						<option value="private">فقط خریدار</option>
					</select>
					<span asp-validation-for="Status" class="text-danger"></span>
					<div class="text-muted fs-7">وضعیت امکان ارسال دیدگاه را مشخص کنید.</div>
				</div>
			</div>
			<div class="card-footer pt-2 text-end pt-0">
				<a href="@Url.Action("index")" class="btn btn-danger product-cancel">حذف</a>
				<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
					<span class="indicator-label">ذخیره تغییرات</span>
					<span class="indicator-progress">
						لطفا صبرکنید...
						<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
					</span>
				</button>
			</div>
		</div>

		<div class="card card-flush py-4">
			<div class="card-header">
				<div class="card-title">
					<h2>تصویر محصول</h2>
				</div>
			</div>
			<div class="card-body text-center pt-0">
				<div id="product-thumbnail" class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
					<div class="image-input-wrapper w-150px h-150px" style="@(String.IsNullOrEmpty(Model.ThumbPath) ? "" : $"background-image: url('{Model.ThumbPath}') !important;")"></div>
					<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="تغییر تصویر">
						<i class="ki-outline ki-pencil fs-7"></i>
						<input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
						<input type="hidden" name="avatar_remove" />
						<input asp-for="product.FeaturedImage" type="hidden" />
						<input asp-for="ThumbName" type="hidden" />
					</label>
					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
						<i class="ki-outline ki-cross fs-2"></i>
					</span>
					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
						<i class="ki-outline ki-cross fs-2"></i>
					</span>
				</div>
				<div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
			</div>
		</div> <!-- Product Featured image -->

		<div class="card card-flush py-4 media-uploader">
			<div class="card-header">
				<div class="card-title">
					<h2>گالری محصول</h2>
				</div>
			</div>
			<partial name="~/areas/admin/views/media/PartialViews/_UploaderPV.cshtml" />
			<div class="card-footer pt-0">
				<div class="fv-row mb-2 upload-results"></div>
			</div>
		</div> <!-- Product Gallery -->

		<div class="card card-flush py-4">
			<div class="card-header">
				<div class="card-title">
					<h2>دسته بندی</h2>
				</div>
			</div>
			<div class="card-body pt-0">
				<label class="form-label">موضوعات</label>
				<select asp-for="CategoriesId" class="form-select mb-2" asp-items="ViewBag.CategoriesId" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple"></select>

				<div class="text-muted fs-7 mb-7">نوشته خود را در یک موضوع ثبت کنید</div>
				<a asp-controller="category" asp-action="create" asp-area="admin" class="btn btn-light-primary btn-sm mb-10" target="_blank">
					<i class="ki-outline ki-plus fs-2"></i>دسته بندی جدید
				</a>
				@* <label class="form-label d-block">برچسب‌ها</label>
                <input id="kt_ecommerce_add_product_tags" name="kt_ecommerce_add_product_tags" class="form-control mb-2" value="" />
                <div class="text-muted fs-7">برچسبی برای نوشته خود انتخاب کنید</div> *@
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script src="~/plugins/admin/custom/ckeditor/ckeditor-classic.bundle.js"></script>
	<script src="~/js/admin/editor.js"></script>
	<script src="~/js/admin/custom/filemanager/scripts.js"></script>
	<script src="~/js/admin/custom/products/scripts.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
