@model List<Core.Domain.Entities.Shop.ProductCat>

@if (!Model.Any())
{
	await Html.RenderPartialAsync("_notfoundpv");
}
else
{
	<div class="card card-flush">
		<div class="card-body pt-0">
			<div class="table-responsive">
				<table id="kt_project_users_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bold">
					<thead class="fs-7 text-gray-500 text-uppercase">
						<tr>
							<th class="min-w-250px">@Html.DisplayNameFor(model => model.FirstOrDefault().Label)</th>
							<th class="min-w-250px">@Html.DisplayNameFor(model => model.FirstOrDefault().ParentId)</th>
							<th class="min-w-50px text-end"></th>
						</tr>
					</thead>
					<tbody class="fs-6">
						@foreach (var cat in Model)
						{
							<tr class="@Html.Raw($"row-item-{cat.Id}")">
								<td>
									<div class="d-flex align-items-center">
										<div class="d-flex flex-column justify-content-center">
											<a asp-controller="user" asp-action="edit" asp-route-id="@cat.Id" class="mb-1 text-gray-800 text-hover-primary">@cat.Label</a>
											<div class="fw-semibold fs-7 text-gray-500">@cat.Description</div>
										</div>
									</div>
								</td>
								<td>
									@if (cat.ParentId != 0)
									{
										<span class="badge badge-light-success fw-bold px-4 py-3">@Model.First(x => x.Id == cat.ParentId).Label</span>
									}
								</td>
								<td class="text-end">
									<a asp-action="shopcategory" asp-controller="shop" asp-route-slug="@cat.Slug" class="btn btn-icon btn-bg-light btn-active-color-info btn-sm me-1" target="_blank">
										<i class="ki-outline ki-eye fs-2"></i>
									</a>
									<a asp-action="edit" asp-route-id="@cat.Id" class="btn btn-icon btn-bg-light btn-active-color-warning btn-sm me-1">
										<i class="ki-outline ki-pencil fs-2"></i>
									</a>
									<a href="#" data-id="@cat.Id" data-action="category" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1 delete-request">
										<i class="ki-outline ki-trash fs-2"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
@section Scripts {
	<script src="~/js/admin/general.js"></script>
}