@{
	var controllerName = Html.Controller().ToLower();
	var actionName = Html.Action().ToLower();
}
<div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
	<div class="aside-logo flex-column-auto pt-10 pt-lg-20" id="kt_aside_logo">
		<a href="/">
			<img alt="Logo" src="~/media/logos/demo99.svg" class="h-40px" />
		</a>
	</div>
	<div class="aside-menu flex-column-fluid pt-0 pb-7 py-lg-10" id="kt_aside_menu">
		<div id="kt_aside_menu_wrapper" class="w-100 hover-scroll-y scroll-lg-ms d-flex" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: trur}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu" data-kt-scroll-offset="0">
			<div id="kt_aside_menu" class="menu menu-column menu-title-gray-600 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-icon-gray-500 menu-arrow-gray-500 fw-semibold fs-6 my-auto" data-kt-menu="true">

				<div class="menu-item @(controllerName == "dashboard" && actionName == "index" ? "here show" : "") py-2">
					@if (controllerName == "dashboard" && actionName == "index")
					{
						<span class="menu-link menu-center">
							<span class="menu-icon me-0">
								<i class="ki-duotone ki-home-2 fs-2x">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</span>
						</span>
					}
					else
					{
						<a class="menu-link menu-center" asp-controller="home" asp-action="index">
							<span class="menu-icon me-0">
								<i class="ki-duotone ki-home-2 fs-2x">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</span>
						</a>
					}
				</div>

				<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item py-2 @(controllerName == "indicators" && actionName != "indicator" ? "here show" : "")">
					<span class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-duotone ki-abstract-35 fs-2x">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</span>
					</span>
					<div class="menu-sub menu-sub-dropdown px-2 py-4 w-200px w-lg-225px mh-75 overflow-auto">
						<div class="menu-item">
							<div class="menu-content">
								<span class="menu-section fs-5 fw-bolder ps-1 py-1">اندیکاتور</span>
							</div>
						</div>
						<div class="menu-item">
							<a class="menu-link" asp-area="dashboard" asp-controller="indicators" asp-action="index" asp-route-coin="@(ViewBag.Currency ?? "eth")">
								<span class="menu-icon">
									<i class="ki-duotone ki-shield-tick fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">بررسی اجمالی</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" asp-area="dashboard" asp-controller="indicators" asp-action="rsi" asp-route-coin="@(ViewBag.Currency ?? "eth")" title="اندیکاتور RSI" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="left">
								<span class="menu-icon">
									<i class="ki-duotone ki-shield-tick fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">RSI</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" asp-area="dashboard" asp-controller="indicators" asp-action="macd" asp-route-coin="@(ViewBag.Currency ?? "eth")" title="اندیکاتور MACD" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="left">
								<span class="menu-icon">
									<i class="ki-duotone ki-shield-tick fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">MACD</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" asp-area="dashboard" asp-controller="indicators" asp-action="movingaverage" asp-route-coin="@(ViewBag.Currency ?? "eth")" title="اندیکاتور Moving Average" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="left">
								<span class="menu-icon">
									<i class="ki-duotone ki-shield-tick fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Moving Average</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" asp-area="dashboard" asp-controller="indicators" asp-action="bollingerband" asp-route-coin="@(ViewBag.Currency ?? "eth")" title="اندیکاتور Bollinger Bands" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="left">
								<span class="menu-icon">
									<i class="ki-duotone ki-shield-tick fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Bollinger Bands</span>
							</a>
						</div>
					</div>
				</div>

				<div class="menu-item @(controllerName == "indicators" && actionName == "indicator" ? "here show" : "") py-2">
					@if (controllerName == "indicators" && actionName == "indicator")
					{
						<span class="menu-link menu-center">
							<span class="menu-icon me-0">
								<i class="ki-duotone ki-graph-3 fs-2x">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</span>
						</span>
					}
					else
					{
						<a class="menu-link menu-center" asp-area="dashboard" asp-controller="indicators" asp-action="indicator" asp-route-coin="@(ViewBag.Currency ?? "eth")">
							<span class="menu-icon me-0">
								<i class="ki-duotone ki-graph-3 fs-2x">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</span>
						</a>
					}
				</div>

				@* <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item py-2">
					<span class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-duotone ki-notification-status fs-2x">
								<span class="path1"></span>
								<span class="path2"></span>
								<span class="path3"></span>
								<span class="path4"></span>
							</i>
						</span>
					</span>
					<div class="menu-sub menu-sub-dropdown menu-sub-indention px-2 py-4 w-250px mh-75 overflow-auto">
						<div class="menu-item">
							<div class="menu-content">
								<span class="menu-section fs-5 fw-bolder ps-1 py-1">Pages</span>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">User Profile</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="pages/user-profile/overview.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Overview</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/user-profile/projects.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Projects</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/user-profile/campaigns.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Campaigns</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/user-profile/documents.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Documents</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/user-profile/followers.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Followers</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/user-profile/activity.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Activity</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Account</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="account/overview.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Overview</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/settings.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Settings</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/security.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Security</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/activity.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Activity</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/billing.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Billing</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/statements.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Statements</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/referrals.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Referrals</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/api-keys.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">API Keys</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="account/logs.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Logs</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Authentication</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Corporate Layout</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion menu-active-bg">
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/corporate/sign-in.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-in</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/corporate/sign-up.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-up</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/corporate/two-factor.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Two-Factor</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/corporate/reset-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Reset Password</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/corporate/new-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">New Password</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Overlay Layout</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion menu-active-bg">
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/overlay/sign-in.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-in</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/overlay/sign-up.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-up</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/overlay/two-factor.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Two-Factor</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/overlay/reset-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Reset Password</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/overlay/new-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">New Password</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Creative Layout</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion menu-active-bg">
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/creative/sign-in.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-in</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/creative/sign-up.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-up</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/creative/two-factor.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Two-Factor</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/creative/reset-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Reset Password</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/creative/new-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">New Password</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Fancy Layout</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion menu-active-bg">
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/fancy/sign-in.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-in</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/fancy/sign-up.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sign-up</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/fancy/two-factor.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Two-Factor</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/fancy/reset-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Reset Password</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/layouts/fancy/new-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">New Password</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Email Templates</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion menu-active-bg">
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/welcome-message.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Welcome Message</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/reset-password.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Reset Password</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/subscription-confirmed.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Subscription Confirmed</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/card-declined.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Credit Card Declined</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/promo-1.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Promo 1</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/promo-2.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Promo 2</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="authentication/email/promo-3.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Promo 3</span>
											</a>
										</div>
									</div>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/extended/multi-steps-sign-up.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Multi-steps Sign-up</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/welcome.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Welcome Message</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/verify-email.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Verify Email</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/coming-soon.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Coming Soon</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/password-confirmation.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Password Confirmation</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/account-deactivated.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Account Deactivation</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/error-404.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Error 404</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="authentication/general/error-500.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Error 500</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Corporate</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="pages/about.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">About</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/team.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Our Team</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/contact.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Contact Us</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/licenses.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Licenses</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/sitemap.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Sitemap</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Social</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="pages/social/feeds.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Feeds</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/social/activity.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Activty</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/social/followers.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Followers</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/social/settings.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Settings</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Blog</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="pages/blog/home.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Blog Home</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/blog/post.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Blog Post</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Careers</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="pages/careers/list.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Careers List</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="pages/careers/apply.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Careers Apply</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item py-2">
					<span class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-duotone ki-abstract-26 fs-2x">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</span>
					</span>
					<div class="menu-sub menu-sub-dropdown menu-sub-indention px-2 py-4 w-250px mh-75 overflow-auto">
						<div class="menu-item">
							<div class="menu-content">
								<span class="menu-section fs-5 fw-bolder ps-1 py-1">Apps</span>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-rocket fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Projects</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/list.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">My Projects</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/project.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">View Project</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/targets.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Targets</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/budget.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Budget</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/users.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Users</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/files.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Files</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/activity.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Activity</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/projects/settings.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Settings</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-handcart fs-2"></i>
								</span>
								<span class="menu-title">eCommerce</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Catalog</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/catalog/products.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Products</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/catalog/categories.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Categories</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/catalog/add-product.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Add Product</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/catalog/edit-product.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Edit Product</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/catalog/add-category.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Add Category</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/catalog/edit-category.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Edit Category</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Sales</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/sales/listing.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Orders Listing</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/sales/details.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Order Details</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/sales/add-order.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Add Order</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/sales/edit-order.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Edit Order</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Customers</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/customers/listing.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Customer Listing</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/customers/details.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Customer Details</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Reports</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/reports/view.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Products Viewed</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/reports/sales.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Sales</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/reports/returns.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Returns</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/reports/customer-orders.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Customer Orders</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/ecommerce/reports/shipping.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Shipping</span>
											</a>
										</div>
									</div>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/ecommerce/settings.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Settings</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-phone fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Contacts</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/contacts/getting-started.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Getting Started</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/contacts/add-contact.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Add Contact</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/contacts/edit-contact.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Edit Contact</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/contacts/view-contact.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">View Contact</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-chart fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Support Center</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/support-center/overview.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Overview</span>
									</a>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Tickets</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/support-center/tickets/list.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Tickets List</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/support-center/tickets/view.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">View Ticket</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Tutorials</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/support-center/tutorials/list.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Tutorials List</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/support-center/tutorials/post.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Tutorial Post</span>
											</a>
										</div>
									</div>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/support-center/faq.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">FAQ</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/support-center/licenses.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Licenses</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/support-center/contact.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Contact Us</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-shield-tick fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">User Management</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Users</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/user-management/users/list.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Users List</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/user-management/users/view.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">View User</span>
											</a>
										</div>
									</div>
								</div>
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Roles</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion">
										<div class="menu-item">
											<a class="menu-link" href="apps/user-management/roles/list.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Roles List</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/user-management/roles/view.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">View Role</span>
											</a>
										</div>
									</div>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/user-management/permissions.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Permissions</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-briefcase fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Customers</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/customers/getting-started.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Getting Started</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/customers/list.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Customer Listing</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/customers/view.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Customer Details</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-map fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
										<span class="path3"></span>
									</i>
								</span>
								<span class="menu-title">Subscription</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/subscriptions/getting-started.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Getting Started</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/subscriptions/list.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Subscription List</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/subscriptions/add.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Add Subscription</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/subscriptions/view.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">View Subscription</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-credit-cart fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Invoice Manager</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
									<span class="menu-link">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">View Invoices</span>
										<span class="menu-arrow"></span>
									</span>
									<div class="menu-sub menu-sub-accordion menu-active-bg">
										<div class="menu-item">
											<a class="menu-link" href="apps/invoices/view/invoice-1.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Invoice 1</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/invoices/view/invoice-2.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Invoice 2</span>
											</a>
										</div>
										<div class="menu-item">
											<a class="menu-link" href="apps/invoices/view/invoice-3.html">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Invoice 3</span>
											</a>
										</div>
									</div>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/invoices/create.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Create Invoice</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-file-added fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">File Manager</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/file-manager/folders.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Folders</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/file-manager/files.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Files</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/file-manager/blank.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Blank Directory</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/file-manager/settings.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Settings</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-sms fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
								</span>
								<span class="menu-title">Inbox</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/inbox/listing.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Messages</span>
										<span class="menu-badge">
											<span class="badge badge-success">3</span>
										</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/inbox/compose.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Compose</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/inbox/reply.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">View & Reply</span>
									</a>
								</div>
							</div>
						</div>
						<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
							<span class="menu-link">
								<span class="menu-icon">
									<i class="ki-duotone ki-message-text-2 fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
										<span class="path3"></span>
									</i>
								</span>
								<span class="menu-title">Chat</span>
								<span class="menu-arrow"></span>
							</span>
							<div class="menu-sub menu-sub-accordion">
								<div class="menu-item">
									<a class="menu-link" href="apps/chat/private.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Private Chat</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/chat/group.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Group Chat</span>
									</a>
								</div>
								<div class="menu-item">
									<a class="menu-link" href="apps/chat/drawer.html">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
										<span class="menu-title">Drawer Chat</span>
									</a>
								</div>
							</div>
						</div>
						<div class="menu-item">
							<a class="menu-link" href="apps/calendar.html">
								<span class="menu-icon">
									<i class="ki-duotone ki-calendar-8 fs-2">
										<span class="path1"></span>
										<span class="path2"></span>
										<span class="path3"></span>
										<span class="path4"></span>
										<span class="path5"></span>
										<span class="path6"></span>
									</i>
								</span>
								<span class="menu-title">Calendar</span>
							</a>
						</div>
					</div>
				</div>
				<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item py-2">
					<span class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-duotone ki-briefcase fs-2x">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</span>
					</span>
					<div class="menu-sub menu-sub-dropdown px-2 py-4 w-200px w-lg-225px mh-75 overflow-auto">
						<div class="menu-item">
							<div class="menu-content">
								<span class="menu-section fs-5 fw-bolder ps-1 py-1">Help</span>
							</div>
						</div>
						<div class="menu-item">
							<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/base/utilities" target="_blank" title="Check out over 200 in-house components" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Components</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs" target="_blank" title="Check out the complete documentation" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Documentation</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" href="https://preview.keenthemes.com/metronic8/demo9/layout-builder.html" title="Build your layout and export HTML for server side integration" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Layout Builder</span>
							</a>
						</div>
						<div class="menu-item">
							<a class="menu-link" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/changelog" target="_blank">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Changelog v8.2.5</span>
							</a>
						</div>
					</div>
				</div> *@
			</div>
		</div>
	</div>
	<div class="aside-footer d-flex flex-column pb-5 pb-lg-10">
		@if (controllerName == "indicators")
		{
			<div class="timer-container mb-4">
				<svg width="100" height="100">
					<circle class="circle-bg" cx="50" cy="50" r="45" fill="none" />
					<circle class="circle-progress" cx="50" cy="50" r="45" fill="none" />
				</svg>
				<div class="timer-text" id="timer">00:30</div>
			</div>
		}
		<form asp-area="dashboard" asp-controller="dashboard" asp-action="logout" method="post" class="logout-form">
			<div class="d-flex flex-center w-100 scroll-px" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-dismiss="click" title="خروج از حساب کاربری">
				<a href="#" type="submit" class="btn btn-custom">
					<i class="ki-duotone ki-entrance-left fs-2x">
						<span class="path1"></span>
						<span class="path2"></span>
					</i>
				</a>
			</div>
		</form>
	</div>
</div>