@{
	var products = (List<Core.Domain.Entities.Shop.Product>)ViewBag.Products;
}

@section Styles {
	<link rel="stylesheet" href="~/css/corporate/slider/settings.css" media="screen">
	<link rel="stylesheet" href="~/css/corporate/slider/layers.css">
	<link rel="stylesheet" href="~/css/corporate/slider/navigation.css">
	<style>
		.revo-slider-emphasis-text {
			font-size: 58px;
			font-weight: 700;
			letter-spacing: 1px;
			font-family: 'Poppins', sans-serif;
			padding: 15px 20px;
			border-top: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
		}

		.revo-slider-desc-text {
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			width: 650px;
			text-align: center;
			line-height: 1.5;
		}

		.revo-slider-caps-text {
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: 'Poppins', sans-serif;
		}

		.tp-video-play-button {
			display: none !important;
		}

		.tp-caption {
			white-space: nowrap;
		}
	</style>
}

@section Slider {
	@* <section id="slider" class="slider-element slider-parallax revslider-wrap overflow-hidden" style="direction:ltr;">
		<div id="rev_slider_ishop_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="default-slider" style="padding:0px;">
			<!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode -->
			<div id="rev_slider_ishop" class="rev_slider fullwidthbanner" style="display:none;" data-version="5.1.4">
				<ul>
					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="5000" data-saveperformance="off" data-title="Latest Collections" style="background-color: #F6F6F6;">
						<!-- LAYERS -->
						<!-- LAYER NR. 2 -->
						<div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase"
							 data-x="100"
							 data-y="50"
							 data-transform_in="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="400"
							 data-start="1000"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn">
							<img src="~/media/corporate/product-mockup-03.png" alt="nuts">
						</div>

						<div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase"
							 data-x="570"
							 data-y="75"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1000"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn" style="font-family:vazir !important; font-weight:100; color: #333;white-space: normal;">
								هل أنت مستعد لطلب هذا المنتج؟
						</div>

						<div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0"
							 data-x="570"
							 data-y="105"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1200"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn" style="font-family:vazir !important; font-weight:900; color: #333; max-width: 430px; line-height: 1.15;">
								المنتج الأكثر مبيعًا<br> حسب الذوق
						</div>

						<div class="tp-caption ltl tp-resizeme revo-slider-desc-text text-start"
							 data-x="570"
							 data-y="275"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1400"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn" style="font-family:vazir !important; font-weight:400; color: #333; max-width: 550px; white-space: normal;">
								من أكثر المنتجات مبيعاً وشعبية والتي تتوافق مع أذواق العملاء والمستهلكين، وشعبيتها المتزايدة ملحوظة.
						</div>

						<div class="tp-caption ltl tp-resizeme"
							 data-x="570"
							 data-y="375"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1550"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn">
							<a href="#" class="button button-border button-large button-rounded text-end m-0"><span>اطلب الآن</span> <i class="uil uil-angle-right-b"></i></a>
						</div>

					</li>
					<!-- SLIDE  -->
					<li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="5000" data-saveperformance="off" data-title="Messenger bags" style="background-color: #E9E8E3;">
						<!-- LAYERS -->

						<div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase"
							 data-x="630"
							 data-y="78"
							 data-transform_in="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:400;e:Power4.easeOutQuad;"
							 data-speed="400"
							 data-start="1000"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn">
							<img src="~/media/corporate/slider/bag.png" alt="Bag">
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption ltl tp-resizeme revo-slider-caps-text text-uppercase"
							 data-x="0"
							 data-y="110"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1000"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn" style="font-family:vazir !important; color: #333;">
							منتج مختلف وعالي الجودة
						</div>

						<div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0"
							 data-x="0"
							 data-y="140"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1200"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn" style="font-family:vazir !important; font-weight:900; color: #333; line-height: 1.15;">
							سفير الصحة
						</div>

						<div class="tp-caption ltl tp-resizeme revo-slider-desc-text text-start"
							 data-x="0"
							 data-y="240"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1400"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn" style="font-family:vazir !important; font-weight:400; color: #333; max-width: 550px; white-space: normal;">
							يعد هذا المنتج أحد المنتجات المعروفة عالميًا باسم إيران وهو غني بالعناصر الغذائية والمكملات الغذائية الأساسية.
						</div>

						<div class="tp-caption ltl tp-resizeme"
							 data-x="0"
							 data-y="340"
							 data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="700"
							 data-start="1550"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn">
							<a href="#" class="button button-border button-large button-rounded text-end m-0">اطلب الآن <i class="uil uil-angle-right-b"></i></a>
						</div>

						<div class="tp-caption utb tp-resizeme revo-slider-caps-text text-uppercase"
							 data-x="510"
							 data-y="0"
							 data-transform_in="x:0;y:-236;z:0;rotationZ:0;skewX:0;skewY:0;opacity:0;s:700;e:Power4.easeOutQuad;"
							 data-speed="600"
							 data-start="2100"
							 data-easing="easeOutQuad"
							 data-splitin="none"
							 data-splitout="none"
							 data-elementdelay="0.01"
							 data-endelementdelay="0.1"
							 data-endspeed="1000"
							 data-endeasing="Power4.easeIn">
							<img src="~/media/corporate/slider/tag.png" alt="Bag">
						</div>

					</li>
				</ul>
			</div>
		</div><!-- END REVOLUTION SLIDER -->

	</section> *@
}

<section id="content">
	<div class="content-wrap py-0">
		<div class="container">
			<div class="section my-0 pe-6">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-7 align-self-end">
							<div class="position-relative overflow-hidden">
								<ul class="clients-grid row row-cols-2">
									<li class="col"><a href="#"><img src="~/media/corporate/clients/7.png" alt="Clients"></a></li>
									<li class="col"><a href="#"><img src="~/media/corporate/clients/8.png" alt="Clients"></a></li>
									<li class="col"><a href="#"><img src="~/media/corporate/clients/9.png" alt="Clients"></a></li>
									<li class="col"><a href="#"><img src="~/media/corporate/clients/10.png" alt="Clients"></a></li>
								</ul>
							</div>
						</div>

						<div class="col-lg-5">
							<div class="heading-block">
								<h1 class="fw-bold">مجموعة منتجاتنا</h1>
							</div>
							<p class="lead">تتخصص صبا تريد في تمور إيرانية فاخرة، لكل نوع منها خصائص واستخدامات فريدة. إليكم تشكيلتنا:</p>
							<p>
								<ul>
									<li>تمور مضافتي – طراوة عالية، عصيرية، بطعم كرمالي غني؛ مثالية للوجبات الخفيفة والمتاجر الفاخرة.</li>
									<li>تمور زاهدی – صلبة، بلون بني ذهبي، منخفضة الرطوبة؛ مثالية للتخزين طويل الأمد وللصناعات </li>
									<li>تمور شاهاني – طويلة، بطعم عسلي؛ متعددة الاستخدامات للاستهلاك المباشر والاستعمالات الطهوية.</li>
									<li>تمور پیرام – نصف جافة “تمر الشوكولاتة” مع فروكتوز غني؛ شائعة بين المهتمين بالصحة.</li>
									<li>تمور ربی – نصف جافة، طويلة، حلاوتها ناعمة؛ معدل مكوث ممتاز للتصدير.</li>
								</ul>
							</p>
							<p>يتم اختيار كل نوع بعناية ومعالجته وتغليفه ضمن ضوابط جودة صارمة لضمان التميز المستمر.</p>
						</div>

					</div>
				</div>
			</div>
			@* <div class="row align-items-stretch g-4 min-vh-60">
						<div class="col-md-8">

							<div class="row align-items-stretch g-4 h-100">
								<div class="col-md-6 min-vh-25 min-vh-md-0">
									<a href="#" class="grid-inner d-block h-100">
										<img src="~/media/corporate/banners/2.jpg" alt="Image" class="w-100 h-100 object-cover rounded">
									</a>
								</div>

								<div class="col-md-6 min-vh-25 min-vh-md-0">
									<a href="#" class="grid-inner d-block h-100">
										<img src="~/media/corporate/banners/8.jpg" alt="Image" class="w-100 h-100 object-cover rounded">
									</a>
								</div>

								<div class="col-md-12 min-vh-25 min-vh-md-0 pb-md-0">
									<a href="#" class="grid-inner d-block h-100">
										<img src="~/media/corporate/banners/4.jpg" alt="Image" class="w-100 h-100 object-cover rounded">
									</a>
								</div>
							</div>

						</div>

						<div class="col-md-4 min-vh-50">
							<a href="#" class="grid-inner d-block h-100">
								<img src="~/media/corporate/banners/9.jpg" alt="Image" class="w-100 h-100 object-cover rounded">
							</a>
						</div>
					</div>

					<div class="clear"></div> *@

			<div class="tabs mt-6">
				<ul class="nav canvas-tabs tabs nav-tabs justify-content-center mb-4" id="tab-3" role="tablist" style="--bs-nav-link-font-weight: 600;">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="canvas-home-tab" data-bs-toggle="pill" data-bs-target="#home2" type="button"
								role="tab" aria-controls="canvas-home" aria-selected="true">
							الأحدث
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="canvas-profile-tab" data-bs-toggle="pill" data-bs-target="#profile2" type="button"
								role="tab" aria-controls="canvas-profile" aria-selected="false">
							الأكثر مبيعًا
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="canvas-contact-tab" data-bs-toggle="pill" data-bs-target="#contact2" type="button"
								role="tab" aria-controls="canvas-contact" aria-selected="false">
							عرضنا لكم
						</button>
					</li>
				</ul>

				<div id="canvas-TabContent2" class="tab-content">
					<div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="canvas-home-tab" tabindex="0">
						@if (products != null && products.Count() > 0)
						{
							<div class="shop row gutter-20">
								@foreach (var product in products)
								{
									<div class="product col-lg-3 col-md-4 col-sm-6 col-12">
										<div class="grid-inner">
											<div class="product-image">
												<a asp-action="singleproduct" asp-controller="shop" asp-route-slug="@product.Slug"><img src="@Html.Raw(product.FeaturedImage)" alt="@Html.Raw(product.Title)"></a>
												<div class="bg-overlay">
													<div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
														<a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
														<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
													</div>
													<div class="bg-overlay-bg bg-transparent"></div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title">
													<h3>
														<a asp-action="singleproduct" asp-controller="shop" asp-route-slug="@product.Slug">@Html.Raw(product.Title)</a>
													</h3>
												</div>
														<div class="product-price">@product.Price SAR</div>
												<div class="product-rating">
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star"></i>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						}
					</div>

					<div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="canvas-profile-tab" tabindex="0">
						@if (products != null && products.Count() > 0)
						{
							<div class="shop row gutter-30">
								@foreach (var product in products)
								{
									<div class="product col-lg-3 col-md-4 col-sm-6 col-12">
										<div class="grid-inner">
											<div class="product-image">
												<a asp-action="singleproduct" asp-controller="shop" asp-route-slug="@product.Slug"><img src="@Html.Raw(product.FeaturedImage)" alt="@Html.Raw(product.Title)"></a>
												<div class="bg-overlay">
													<div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
														<a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
														<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
													</div>
													<div class="bg-overlay-bg bg-transparent"></div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title">
													<h3>
														<a asp-action="singleproduct" asp-controller="shop" asp-route-slug="@product.Slug">@Html.Raw(product.Title)</a>
													</h3>
												</div>
												<div class="product-price">@product.Price SAR</div>
												<div class="product-rating">
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star"></i>
												</div>
											</div>
										</div>
									</div>
								}

							</div>
						}
					</div>

					<div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="canvas-contact-tab" tabindex="0">
						@if (products != null && products.Count() > 0)
						{
							<div class="shop row gutter-30">
								@foreach (var product in products)
								{
									<div class="product col-lg-3 col-md-4 col-sm-6 col-12">
										<div class="grid-inner">
											<div class="product-image">
												<a asp-action="singleproduct" asp-controller="shop" asp-route-slug="@product.Slug"><img src="@Html.Raw(product.FeaturedImage)" alt="@Html.Raw(product.Title)"></a>
												<div class="bg-overlay">
													<div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
														<a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
														<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
													</div>
													<div class="bg-overlay-bg bg-transparent"></div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-title">
													<h3>
														<a asp-action="singleproduct" asp-controller="shop" asp-route-slug="@product.Slug">@Html.Raw(product.Title)</a>
													</h3>
												</div>
														<div class="product-price">@product.Price SAR</div>
												<div class="product-rating">
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star-fill"></i>
													<i class="bi-star"></i>
												</div>
											</div>
										</div>
									</div>
								}

							</div>
						}

					</div>

				</div>

			</div>

		</div>

		<div class="section mb-0">
			<div class="container">

				<div class="row col-mb-50">
					<div class="col-sm-6 col-lg-3">
						<div class="feature-box fbox-plain fbox-dark fbox-sm">
							<div class="fbox-icon">
								<i class="bi-hand-thumbs-up"></i>
							</div>
							<div class="fbox-content">
								<h3>عضوي ١٠٠٪</h3>
								<p class="mt-0">نضمن لك شراء المنتج الأصلي</p>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3">
						<div class="feature-box fbox-plain fbox-dark fbox-sm">
							<div class="fbox-icon">
								<i class="bi-credit-card"></i>
							</div>
							<div class="fbox-content">
								طريقة الدفع
								<p class="mt-0">متوفرون على شبكة شيتاب وشبكة باي بال العالمية</p>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3">
						<div class="feature-box fbox-plain fbox-dark fbox-sm">
							<div class="fbox-icon">
								<i class="bi-truck"></i>
							</div>
							<div class="fbox-content">
								شحن مجاني
								<p class="mt-0">سنتكفل بتكاليف شحن طلبك</p>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3">
						<div class="feature-box fbox-plain fbox-dark fbox-sm">
							<div class="fbox-icon">
								<i class="bi-arrow-counterclockwise"></i>
							</div>
							<div class="fbox-content">
								رضا العملاء
								<p class="mt-0">رضا عملائنا السابقين والحاليين هو دافعنا للعمل بجد واجتهاد</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>

@section Scripts {
	<script src="~/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="~/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="~/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script>
		var tpj=jQuery;

		tpj(document).ready(function() {
			var apiRevoSlider = tpj('#rev_slider_ishop').show().revolution(
			{
				sliderType:"standard",
				jsFileLocation:"/plugins/rs-plugin/js/",
				sliderLayout:"fullwidth",
				dottedOverlay:"none",
				delay:9000,
				navigation: {},
				responsiveLevels:[1200,992,768,480,320],
				gridwidth:1140,
				gridheight:500,
				lazyType:"none",
				shadow:0,
				spinner:"off",
				autoHeight:"off",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					disableFocusListener:false,
				},
				navigation: {
					keyboardNavigation:"off",
					keyboard_direction: "horizontal",
					mouseScrollNavigation:"off",
					onHoverStop:"off",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					},
					arrows: {
						style: "ares",
						enable: true,
						hide_onmobile: false,
						hide_onleave: false,
						tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
						left: {
							h_align: "left",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						},
						right: {
							h_align: "right",
							v_align: "center",
							h_offset: 10,
							v_offset: 0
						}
					}
				}
			});

			apiRevoSlider.on("revolution.slide.onloaded",function (e) {
				SEMICOLON.Base.sliderDimensions();
			});
		}); //ready
	</script>
}
