@model MVC.Areas.Admin.Models.ViewModels.SliderVM

<section id="slider" class="slider-element @Html.Raw($"slider-{Model.Id}") swiper_wrapper min-vh-40 min-vh-md-75" data-autoplay="9000" data-speed="800" data-loop="true" data-grab="false">
	<div class="slider-inner">

		<div class="swiper swiper-parent">
			<div class="swiper-wrapper">

				@foreach (var slide in Model.Slides)
				{
					<div class="swiper-slide dark @Html.Raw(slide.Name)">
						<div class="container">
							<div class="slider-caption slider-caption-center">
								<h2 data-animate="fadeInUp">@Html.Raw(slide.Title)</h2>
								<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
									@Html.Raw(slide.Description)
								</p>
							</div>
						</div>
						@if (slide.BackgroundType == "image")
						{
							<div class="swiper-slide-bg" style="background-image: url('@Html.Raw(slide.BackgroundValue)');"></div>
						}
						else if (slide.BackgroundType == "video")
						{
							<div class="video-wrap no-placeholder">
								<video id="slide-video-@slide.Id" poster="~/media/corporate/explore-poster.jpg" preload="auto" loop autoplay muted playsinline>
									<source src='@Html.Raw(slide.BackgroundValue)' type='video/mp4'>
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						}
						else if (slide.BackgroundType == "color")
						{
							<div class="swiper-slide-bg" style="background-color: @Html.Raw(slide.BackgroundValue);"></div>
						}
					</div>
				}

			</div>
			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
			<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
		</div>

	</div>
</section>